<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script defer src="/js/forgot_password.js"></script>
</head>

<body class="grid place-content-center bg-black font-light h-screen w-full">
    
    <div id="new_password-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full bg-gray-500/25">
        <div class="relative w-full max-w-md max-h-full">
            <div class="relative bg-black rounded-lg shadow">
                <div class="flex flex-col justify-center items-center gap-8">
                    <p class="text-2xl text-white">Forgot your password?</p>
                    <p class="text-base text-white">Enter email here and we'll send you a link to reset your password.</p>
            
                    <form onsubmit="forgot_password(); return false" class="flex flex-col gap-4" >
                        <label class="text-white" for="user_email">Email</label>
                        <input type="email" id="user_email" name="user_email" class="bg-inherit text-twitterZinc border border-twitterZinc p-2 rounded-md w-full">
            
                        <button type="submit" class="cursor-pointer bg-twitterBlue py-2 px-6 rounded-full text-white flex justify-center">Send mail with reset link</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</body>
</html>