<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css">
  <script src="/js/validate.js"></script>
  <script src="/js/tweet_button.js"></script>
  <!-- <script src="../path/to/flowbite/dist/flowbite.min.js"></script> -->
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" /> -->
  <title>Twitter</title>
</head>

<body class="grid grid-cols-[100fr_150fr_100fr] w-full h-full text-gray-200 text-lg bg-black font-light overflow-hidden overflow-y-scroll">

% include("comp_left_side")

<!-- BLUE BOX IN LOG IN PAGE -->
% if not cookie_user:
<div class="absolute bg-sky-600 w-full bottom-0 py-5">
  <div class="flex place-content-around items-center">
    <div>
      <p class="font-bold text-2xl">Gå ikke glip af det, der sker</p>
      <p class="text-base">Folk på Twitter får nyheden før alle andre.</p>
    </div>
    <div>
      <button href="/login" type="button" data-modal-target="crypto-modal" data-modal-toggle="crypto-modal" class="rounded-full font-bold text-white text-center text-base py-3  px-5 bg-sky-600 border border-white mr-4">Log in</button>
      
      <a href="#" class="bg-white rounded-full font-bold text-black text-center text-base py-3 mb-4 px-5">Tilmeld dig</a>
    </div>
  </div>
</div>
% end
<!-- END BLUE BOX IN LOG IN PAGE -->


<!-- CENTER -->
<div class="min-h-screen h-full border-x border-gray-600">

<!-- CENTER IF USER IS NOT LOGGED IN -->
% include("center_not_logged")
<!-- END CENTER IF USER IS NOT LOGGED IN -->

<!-- CENTER IF USER IS LOGGED IN -->
% include("center_logged")
<!-- END CENTER IF USER IS LOGGED IN -->

</div>

<!-- END CENTER -->



<!-- RIGHT -->
% include("comp_right_side")
<!-- END RIGHT -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>

</body>
</html>