<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/output.css">
  <script src="/js/validate.js"></script>
  <script src="/js/tweet_button.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script>
  <script defer src="/js/app.js"></script>
  <script defer src="/js/delete_tweet.js"></script>
  <title>Twitter</title>
</head>

<body class="grid grid-cols-[100fr_150fr_100fr] w-full h-full text-gray-200 text-lg bg-black font-light overflow-hidden overflow-y-scroll">
 

% include("tweet_modal")

% if not cookie_admin:
% include("comp_left_side")
% end

<!-- if the cookie admin is logged in -->
% if cookie_admin:
% include("comp_admin_nav")
% end


<!-- BLUE BOX IN LOG IN PAGE -->
% if not cookie_user:
  % include("comp_bottom_not_logged")
% end
<!-- END BLUE BOX IN LOG IN PAGE -->


<!-- CENTER -->
<div class="min-h-screen h-full border-x border-gray-600">
  <!-- CENTER IF LOGGED IN WITH COOKIE_ADMIN -->
  % if cookie_admin: 
  <div>
    <div class="text-2xl font-bold p-4">All users</div>

    % for user in users:
    <a class="flex items-center gap-4 p-4" href="{{user['user_name']}}">
      <img
      src="/images/{{user['user_avatar']}}"
      class="w-12 h-12 rounded-full"
      />
      <div class="">
        <div class="text-gray-200 font-semibold text-base">
          {{user['user_first_name']}} {{user['user_last_name']}}
        </div>
        <div class="font-light text-gray-500 text-base">
          @{{user['user_name']}}
        </div>
      </div>
      <button
      class="ml-auto px-4 py-2 text-black text-base font-medium bg-gray-200 rounded-full hover:bg-gray-400"
      >
      Delete user
    </button>
  </a>
  <!-- end person -->
  % end
  <a href="/logout" class="items-center mx-2 px-8 gap-4 py-3 text-white bg-sky-500 hover:bg-sky-600 rounded-full">logout</a>
  </div>


  % end
  <!-- END CENTER IF LOGGED IN WITH COOKIE_ADMIN -->


% if not cookie_admin:

    <!-- CENTER IF USER IS NOT LOGGED IN -->
    % include("center_not_logged")
    <!-- END CENTER IF USER IS NOT LOGGED IN -->

    <!-- CENTER IF USER IS LOGGED IN -->
    % include("center_logged")
    <!-- END CENTER IF USER IS LOGGED IN -->

% end
<!-- CENTER IF ADMIN IS LOGGED -->


<!-- END CENTER IF ADMIN IS LOGGED -->

</div>

<!-- END CENTER -->



<!-- RIGHT -->
% include("comp_right_side")
<!-- END RIGHT -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>

</body>
</html>