<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="profile">
        <div>Elon Musk</div>
        <!-- onsubmit = calls the javascript function -->
        <form>
            <!-- value="1" = should be an uuid -->
            <input style="display:none" name="user_followee_id" type="text" value="1">
            <!-- type = does so the website doesn't reload everytime the follow-button ish used -->
            <button onclick="follow()" type="button">Follow</button> 
        </form>
    </div>
    <div class="profile">
        <div>Shakira</div>
        <form>
            <input style="display:none" name="user_followee_id" type="text" value="2">
            <button onclick="follow()" type="button">Follow</button> 
        </form>
    </div>

    <script>
        async function follow(){
            // console.log(event) // click
            // console.log(event.target) //button
            const frm = (event.target.form) //frm = form
            // we create the connection
            const conn = await fetch("api-follow", {
                method : "POST", 
                body : new FormData(frm) //this will build whatever the form contains
            })
            const data = await conn.json()
            console.log(data)
        }
    </script>
</body>
</html>