<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- onsubmit return false does so the page does not reload everytime a tweet is made - because it is not a single page app -->
    <!-- if all the fields is valid, I will run the tweet function -->
    <form method="POST" onsubmit="validate(tweet); return false">
        <input name="message" type="text" data-validate="str" data-min ="{{tweet_min_len}}" data-max ="{{tweet_max_len}}">
        <button>
            Tweet
        </button>
    </form>
    <!-- section for all the tweets -->
    <section id="tweets">
        <!-- create the loop -->
        % for tweet in tweets:
        <div class="tweet">
            <div>{{tweet["tweet_id"]}}</div>
            <div>{{tweet["tweet_message"]}}</div>
        </div>
        % end
    </section>

    <script src="/js/validate.js"></script>
    <script>
        // async = run multible functions in the browser at the same time
        async function tweet(){
            // the event is = onsubmit, the target is = the form cause it triggeres the onsubmit. The code will know which form automatically 
            const frm = event.target
            // creates the connection, "the tunnel", and then wait for the tunnel to be made.
            const conn = await fetch("/tweet", {
                method: "POST", 
                // building the form: i want to post whatever i have in the form
                body: new FormData(frm)
            })
            // what we will get back from the server after the tunnel is build. We want to get some text back from the server
            const data = await conn.json()
            // data = the text that I get back in the response from the server
            console.log(data)
            // point to the form. I want to get the value out of it
            const message = frm.querySelector("input[name ='message']").value
            console.log(message)
            // selects tweets. Before the tweet-element (the section) I want to put some HTML (insertAdjacentHTML('afterbegin')) - vi bruger et så det er det nyeste tweet, der kommer først
            document.querySelector("#tweets").insertAdjacentHTML("afterbegin", `<div class="tweet">
            <div>${data.tweet_id}</div>
            <div>${message}</div>
            </div>`)
        }
    </script>

</body>
</html>
